

<!-- Adicionando scripts de comportamento do site -->
<!--jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--Nosso script-->
<script src="script.js" charset="utf-8"></script>
<script src="https://kit.fontawesome.com/f0078396f2.js" crossorigin="anonymous"></script>
</body>

<footer>EVERST</footer>