<meta charset="uft-8">
<meta rel="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet" href="css/style.css">

<div class="header">
    <img src="css/images/logoEverstCo.png" id="projectLogo">
    <button><a href="#about">About</a></button>
    <button><a href="#comunidade">Comunidade</a></button>
    <!--<button>Whitepaper</button>
    <button>Roadmap</button>-->
    <button><a href="#team">Team</a></button>
</div>

<body>
    