<meta charset="uft-8">
<meta rel="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet" href="public/css/style.css">

<div class="header">
    <img src="css/images/logoEverstCo.png" id="projectLogo">
    <button><a href="#about">About</a></button>
    <button><a href="#comunidade">Comunidade</a></button>
    <!--<button>Whitepaper</button>
    <button>Roadmap</button>-->
    <button><a href="#team">Team</a></button>
</div>

<body>
    <!--Conteúdo 1 - apresentação geral do projeto-->
    
    <div class="block" id="b1">
        <!--Heading da pagina-->
        <h1 id="pageTitle"><%= projectName %></h1>
        <h1 id="subtitulo">O futuro dos investimentos <br> e da sua sociedade</h1>
    </div>

    <div class="blockText">
        <!--<p>Texto sobre "o futuro da sociedade Digital"</p>-->
        <p>Uma plataforma que se propõe a revolucionar a forma como o ser humano usa a Internet
            <br>
            Com a tecnologia blockchain
        </p>
        <p>Impulsionar projetos, e melhorar a qualidade das interações no meio digital</p>
        <p>Como? Através de uma rede social confiável, e uma plataforma de DeFi para financiar projetos</p>
        <p>Transformar sonhos em Projetos, e projetos em realidade</p>
    </div>

    <div class="block" id="b2">
        <h1></h1>
        <!--Colocar imagem/video do universo virando a interface do app-->
    </div>

    <div class="blockText" id="uselessBlock">
        <!--<p>Texto sobre "Um universo inteiro para chamar de seu"</p>-->
        <p>Explore a imensidão da internet da forma como achar melhor</p>
        <p>Aproveite a sua bolha, e crie seu próprio universo</p>
        <p>Descubra e participe de qual delas quiser</p>
    </div>


    <div class="blockText">
        <!--<p>Texto sobre "Você no controle"</p>-->
        <br>
        <br>
    </div>

    <!--Esses 3 objetos aqui terão as imagens e textos alternados-->
    <div class="rightAltContent">
        <h1>Tokenize-se</h1>
        <h3>Tokenize seus projetos</h3>
        <h3>Tokenize seu dinheiro</h3>
        <h3>Tokenize seus investimentos</h3>
        <p>
            Nossa plataforma tem como a principal propostar usar os tokens para revolucionar as finanças no mundo
        </p>
    </div>

    <img class="rightAltContentImg" src="css/images/diagramas e figuras/tokenize-se logo.png">

    <div class="leftAltContent">
        <h1>Escolha onde quer estar</h1>
        <h3>Acompanhe seus interesses,</h3>
        <h3>O que você admira,</h3>
        <h3>Dê suporte a aquilo que você acredita</h3>
        <p>
            Aqui você escolhe como tornar o mundo, o seu mundo, um lugar melhor
        </p>
    </div>

    <img class="leftAltContentImg" src="css/images/diagramas e figuras/esteja onde quiser.png">
    
    <div class="rightAltContent">
        <h1>Invista</h1>
        <h3>Apoie os projetos que você acredita,</h3>
        <h3>Encontre apoiadores para os seus próprios,</h3>
        <h3>Lucre de qualquer jeito</h3>
        <p>Faça o seu projeto a arrecadar fundos, doe fundos para viabilizar outros projetos e rentabilize seus Tokens</p>
    </div>

    <img class="RightAltContentImg" id="RightAltContentImg2" src="css/images/diagramas e figuras/invistaLogo.png">

    <div class="about" id="about">
        <h1 class="title">O que é a <%= projectName %> ?</h1>
        <p>
            A <%= projectName %> é uma plataforma de investimentos com a proposta de usufruir ao máximo de maneira transparente, coesa 
            esegura, o potencial do mercado de blockchain. Em especial, no financiamento de projetos e empresas que agreguem valor, não só
            à sociedade, mas ao mundo também.
        </p>
    
        <div class="exemplosProjetos">
            <img class="txtLogos" src="css/images/diagramas e figuras/Novos empreendimentos Logo.png">
            <p>Novos empreendimentos,</p>
            <img class="txtLogos" src="css/images/diagramas e figuras/Novos Projetos Icon.png">
            <p>Novos projetos,</p>
            <img class="txtLogos" src="css/images/diagramas e figuras/projetos sociais logo.png">
            <p>Projetos Sociais</p>
        </div>
    
        <p>
            Tudo para tornar o mundo um lugar melhor, e ampliar nosso legado para todos.
        </p>
        <p>
            Nosso objetivo é conectar empeendedores, empresas com investidores, para que possam se financiar e transformas seus sonhos 
            e projetos em realidade.<br><br>
            Outra proposta da  <%= projectName %> é dar oportunidade a aqueles projetos em fase inicial para que as pessoas possam ver,
            investir e acompanhá-los. Desde grandes investidores a pequenos investidores. E tudo isso graças as tecnologias 
            relativas a criptoativos, que embora muito comentados nos tempos atuais, são muito sub-Explorados frente ao seu verdadeiro
            potencial tecnológico e criativo.<br><br>
            Emcabeçado por brasileiros, conhecedores das dificuldades de conseguir captação para empreender no Brasil, nosso projeto
            visa facilitar esse processo para todos.
        </p>
    
        <img class="diagramaEcossistema" src="css/images/diagramas e figuras/Everst.png"><!--Imagem do diagrama geral do ecossistema-->
    
        <p>
            Como faremos isso?<br><br>
            Conhecendo a falta de conhecimento e segurança no mundo dos criptoativos, todos os projetos passarão por um processo
            rápido e desburocratizado de auditoria, visando obter a confiabilidade dos projetos, e aumentar a segurança diminuindo
            risco de fraudes e prejuízos para os nossos usuários.<br><br>
            Após a auditoria, os tokens serão emitidos e disponibilizados na plataforma para que as pessoas possam investir nos projetos,
            e serem recompensados com a valorização dos criptoativos.<br><br>
            As empresas/projetos poderão criar mais de um tipo de ativo, cada um dedicado a um fim específico de acordo com os objetivos do
            projeto. Durante a auditoria, terão reuniões que farão um alinhamento dos objetivos, e teremos uma equipe dedicada a dar sugestões
            das melhores estratégias dos criptoativos. 
        </p>
    
        <img class="diagramaAuditoria"><!--Imagem do diagrama do processo de auditoria e geração do token-->
    
        <p>
            Uma vez concluída esse processo de auditoria, os projetos terão uma página com as descrições dele, onde os usuários investidores
            poderão interagir com a equipe e ver detalhes do projeto, com o objetivo de aumentar a proximidade, engajamento e confiabilidade.
            Com a compra dos ativos, os projetos poderão se capitalizar e entregar sua proposta ou produto.<br><br>
    
            Como se capitalizar? Oferecendo uma quantidade pensada de tokens para dar consistência a valorização e realização. E sim, 
            nossa equipe está a disposição para esse alinhamento para aqueles que não tem essa noção.<br><br>
            Como ja comentamos, nosso objetivo é dar oportunidade e viabilizar projetos. E estaremos aqui para ajudar.
        </p>
        <p>
            Em breve lançaremos o Roadmap e a WhitePaper do projeto, entrando em mais 
            detalhes, como o nosso token (previsto para ser emitido no quarto trimestre de 2022). 
            Acompanhe nossas páginas para receberem atualizações!
        </p>
    </div>

    <div class="comunidade" id="comunidade">
        <h1 class="title">Comunidade</h1>
        <p>
            Acreditamos que a educação é a melhor forma de fazer com que as tecnologias e os mundos funcionem. Para isso, siga-nos nas nossas
            redes sociais para verem atualizações sobre o projeto da <%=projectName%>, além de conteúdos sobre blockchain e outras tecnologias
        </p>
        <p>
            Nosso objetivo é atingir ao máximo de pessoas possível, para que todos possam embarcar nesse movimento que 
            já está revolucionando o mundo dos negócios e inovação
        </p>
    
        <div class="communityLinks">
            <a href="https://discord.gg/DBeeruPzCM" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-discord"></i> Discord</a>
            <a href="https://twitter.com/EverstFin" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter-square"></i> Twitter</a>
        </div>
    </div>

    <div class="teamBoard" id="team">
        <h1 class="title">Equipe</h1>
        <div class="teamMember" id="grajeda">
            <img class="teamMemberImage" src="css/images/teamPhotos/fotoGrajeda.jpg">
            <h2 class="teamMemberName">Pedro Grajeda</h2>
            <h3 class="teamMemberDescription">Dev Full-stack</h3>
            <h3 class="teamMemberLinkedin"><a href="https://www.linkedin.com/in/pedro-grajeda-02878a1a1/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i> LinkedIn</a>
            </h3>
        </div>
        <div class="teamMember">
            <img class="teamMemberImage" src="css/images/teamPhotos/fotoVittor.jpg">
            <h2 class="teamMemberName">Vittor Mello</h2>
            <h3 class="teamMemberDescription">Descrição/ qualificação do membro do time</h3>
            <h3 class="teamMemberLinkedin"><a href="https://www.linkedin.com/in/vittor-emanuel-melo-33b38663/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i> LinkedIn</a></h3>
        </div>
        <div class="teamMember">
            <img class="teamMemberImage" src="css/images/teamPhotos/fotoBernardo.jpg">
            <h2 class="teamMemberName">Bernardo Rossatti</h2>
            <h3 class="teamMemberDescription">Descrição/ qualificação do membro do time</h3>
            <h3 class="teamMemberLinkedin"><a href="https://www.linkedin.com/in/bernardo-rossatti/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i> LinkedIn</a></h3>
        </div>
        <div class="teamMember">
            <img class="teamMemberImage" src="css/images/teamPhotos/fotoDenan.jpg">
            <h2 class="teamMemberName">Denan Pettmant</h2>
            <h3 class="teamMemberDescription">Diretor de marketing</h3>
            <h3 class="teamMemberLinkedin"><a href="https://www.linkedin.com/in/denanpettmant/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i> LinkedIn</a></h3>
        </div>
        <div class="teamMember">
            <img class="teamMemberImage" src="css/images/teamPhotos/fotoEvandro.jpg">
            <h2 class="teamMemberName">Evandro Teruel</h2>
            <h3 class="teamMemberDescription">Dev Blockchain</h3>
            <h3 class="teamMemberLinkedin"><a href="https://www.linkedin.com/in/evandro-teruel-00187510/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i> LinkedIn</a></h3>
        </div>
    </div>
<!-- Adicionando scripts de comportamento do site -->
<!--jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--Nosso script-->
<script src="script.js" charset="utf-8"></script>
<script src="https://kit.fontawesome.com/f0078396f2.js" crossorigin="anonymous"></script>
</body>

<footer>EVERST</footer>
