<div class="comunidade" id="comunidade">
    <h1 class="title">Comunidade</h1>
    <p>
        Acreditamos que a educação é a melhor forma de fazer com que as tecnologias e os mundos funcionem. Para isso, siga-nos nas nossas
        redes sociais para verem atualizações sobre o projeto da <%=projectName%>, além de conteúdos sobre blockchain e outras tecnologias
    </p>
    <p>
        Nosso objetivo é atingir ao máximo de pessoas possível, para que todos possam embarcar nesse movimento que 
        já está revolucionando o mundo dos negócios e inovação
    </p>

    <div class="communityLinks">
        <a href="https://discord.gg/DBeeruPzCM" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-discord"></i> Discord</a>
        <a href="https://twitter.com/EverstFin" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter-square"></i> Twitter</a>
    </div>
</div>