<div class="about" id="about">
    <h1 class="title">O que é a <%= projectName %> ?</h1>
    <p>
        A <%= projectName %> é uma plataforma de investimentos com a proposta de usufruir ao máximo de maneira transparente, coesa 
        esegura, o potencial do mercado de blockchain. Em especial, no financiamento de projetos e empresas que agreguem valor, não só
        à sociedade, mas ao mundo também.
    </p>

    <div class="exemplosProjetos">
        <img class="txtLogos" src="css/images/diagramas e figuras/Novos empreendimentos Logo.png">
        <p>Novos empreendimentos,</p>
        <img class="txtLogos" src="css/images/diagramas e figuras/Novos Projetos Icon.png">
        <p>Novos projetos,</p>
        <img class="txtLogos" src="css/images/diagramas e figuras/projetos sociais logo.png">
        <p>Projetos Sociais</p>
    </div>

    <p>
        Tudo para tornar o mundo um lugar melhor, e ampliar nosso legado para todos.
    </p>
    <p>
        Nosso objetivo é conectar empeendedores, empresas com investidores, para que possam se financiar e transformas seus sonhos 
        e projetos em realidade.<br><br>
        Outra proposta da  <%= projectName %> é dar oportunidade a aqueles projetos em fase inicial para que as pessoas possam ver,
        investir e acompanhá-los. Desde grandes investidores a pequenos investidores. E tudo isso graças as tecnologias 
        relativas a criptoativos, que embora muito comentados nos tempos atuais, são muito sub-Explorados frente ao seu verdadeiro
        potencial tecnológico e criativo.<br><br>
        Emcabeçado por brasileiros, conhecedores das dificuldades de conseguir captação para empreender no Brasil, nosso projeto
        visa facilitar esse processo para todos.
    </p>

    <img class="diagramaEcossistema" src="css/images/diagramas e figuras/Everst.png"><!--Imagem do diagrama geral do ecossistema-->

    <p>
        Como faremos isso?<br><br>
        Conhecendo a falta de conhecimento e segurança no mundo dos criptoativos, todos os projetos passarão por um processo
        rápido e desburocratizado de auditoria, visando obter a confiabilidade dos projetos, e aumentar a segurança diminuindo
        risco de fraudes e prejuízos para os nossos usuários.<br><br>
        Após a auditoria, os tokens serão emitidos e disponibilizados na plataforma para que as pessoas possam investir nos projetos,
        e serem recompensados com a valorização dos criptoativos.<br><br>
        As empresas/projetos poderão criar mais de um tipo de ativo, cada um dedicado a um fim específico de acordo com os objetivos do
        projeto. Durante a auditoria, terão reuniões que farão um alinhamento dos objetivos, e teremos uma equipe dedicada a dar sugestões
        das melhores estratégias dos criptoativos. 
    </p>

    <img class="diagramaAuditoria"><!--Imagem do diagrama do processo de auditoria e geração do token-->

    <p>
        Uma vez concluída esse processo de auditoria, os projetos terão uma página com as descrições dele, onde os usuários investidores
        poderão interagir com a equipe e ver detalhes do projeto, com o objetivo de aumentar a proximidade, engajamento e confiabilidade.
        Com a compra dos ativos, os projetos poderão se capitalizar e entregar sua proposta ou produto.<br><br>

        Como se capitalizar? Oferecendo uma quantidade pensada de tokens para dar consistência a valorização e realização. E sim, 
        nossa equipe está a disposição para esse alinhamento para aqueles que não tem essa noção.<br><br>
        Como ja comentamos, nosso objetivo é dar oportunidade e viabilizar projetos. E estaremos aqui para ajudar.
    </p>
    <p>
        Em breve lançaremos o Roadmap e a WhitePaper do projeto. Acompanhe nossas páginas para receberem atualizações!
    </p>
</div>