<div class="teamBoard" id="team">
    <h1 class="title">Equipe</h1>
    <div class="teamMember" id="grajeda">
        <img class="teamMemberImage" src="css/images/teamPhotos/fotoGrajeda.jpg">
        <h2 class="teamMemberName">Pedro Grajeda</h2>
        <h3 class="teamMemberDescription">Dev Full-stack</h3>
        <h3 class="teamMemberLinkedin"><a href="https://www.linkedin.com/in/pedro-grajeda-02878a1a1/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn</a>
        </h3>
    </div>
    <div class="teamMember">
        <img class="teamMemberImage" src="css/images/teamPhotos/fotoVittor.jpg">
        <h2 class="teamMemberName">Vittor Mello</h2>
        <h3 class="teamMemberDescription">Descrição/ qualificação do membro do time</h3>
        <h3 class="teamMemberLinkedin"><a href="https://www.linkedin.com/in/vittor-emanuel-melo-33b38663/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn</a></h3>
    </div>
    <div class="teamMember">
        <img class="teamMemberImage" src="css/images/teamPhotos/fotoBernardo.jpg">
        <h2 class="teamMemberName">Bernardo Rossatti</h2>
        <h3 class="teamMemberDescription">Descrição/ qualificação do membro do time</h3>
        <h3 class="teamMemberLinkedin"><a href="https://www.linkedin.com/in/bernardo-rossatti/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn</a></h3>
    </div>
    <div class="teamMember">
        <img class="teamMemberImage" src="css/images/teamPhotos/fotoDenan.jpg">
        <h2 class="teamMemberName">Denan Pettmant</h2>
        <h3 class="teamMemberDescription">Diretor de marketing</h3>
        <h3 class="teamMemberLinkedin"><a href="https://www.linkedin.com/in/denanpettmant/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn</a></h3>
    </div>
    <div class="teamMember">
        <img class="teamMemberImage" src="css/images/teamPhotos/fotoEvandro.jpg">
        <h2 class="teamMemberName">Evandro Teruel</h2>
        <h3 class="teamMemberDescription">Dev Blockchain</h3>
        <h3 class="teamMemberLinkedin"><a href="https://www.linkedin.com/in/evandro-teruel-00187510/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn</a></h3>
    </div>
</div>


